<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iam Freelancer</title>
    
        <link rel="stylesheet" type="text/css" href="pro/css/reset.css">
        <link rel="stylesheet" type="text/css" href="pro/css/default.css">
        <link rel="stylesheet" type="text/css" href="pro/css/style.css">
    
      
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
        <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js'></script> 


</head>
<body>
    
<header class="sub">    
    <div class="svisual _01">
        <p>chatting</p>   
    </div>
    <div class="top float">
        <div class="hedmenu">
            <h1><a href="/"><img src="pro/img/logo.png" alt="Iam Freelancer"></a></h1>
            <ul class="top_smenu">
                <li><a href="">로그인</a></li>
                <li><a href="">전문가 등록</a></li>
                <li><a href="">회원가입</a></li>
                <li><a class="lang" href="">언어</li>
            </ul>

            <nav>
                <ul class="navi">
                    <li><a href="">Contest</a>
                        <ul>                        
                            <li><a href="">Open Contest</a></li>
                            <li><a href="">Contest History</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Review</a></li>
                            <li><a href="">Price</a></li>                      
                        </ul>
                    </li>
                    <li><a href="">Design</a></li>
                    <li><a href="">Digital Marketing</a></li>
                    <li><a href="">Writing</a></li>
                    <li><a href="">Video</a></li>
                    <li><a href="">Audio</a></li>
                    <li><a href="">Programing</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">Lifestyle</a></li>               
                </ul>             
            </nav>
        </div>
    </div>
</header>

<div class="subpage marginb80">
    <div class="container w1280 margin0auto ">
        <div class="contents_w">                      
           
                <div class="htop">                    
                    <div class="search">
                        <div class="custom-select _2 width160">
                            <lable hidden>셀렉트1</lable>
                            <select>
                                <option value="">서비스명</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </div>
                        <div class="search1">
                            <lable hidden>검색</lable>
                            <input class="search_txt star_t" type="search" placeholder="검색해주세요.">
                            <button class="search_btn">Search</button>
                        </div>
                    </div>                    
                </div>
                <div class="chat_list">
                    <p class="cat_mark _f">전문가<br>찾기</p>                    
                    <div class="pro_name">
                        <div class="user_pic1-1"></div>
                        <p>testid111</p>
                    </div>
                    <div class="chat_txt">
                        <p class="tit">
                            <span>일러스트 디자인</span><br>
                            서비스 제목을 나타냅니다.~디자인 해드립니다
                        </p>
                        <div class="modal_btn" data-modal="#request_chat">
                            <p>요청중</p>
                            <p>testid111<span>2020.01.01 11:11</span></p>
                            <p>저기요 이건 지금 진행하고 있나요?? 채팅의 마지막 말이 나옵니다….</p>
                        </div>
                        <div class="btn_zon">
                            <a class="btn1_2h30 green green_bo">전문가 프로필</a>
                            <a class="modal_btn btn1_1h30 green_b" data-modal="#request_detail">내 의뢰요청서</a>
                        </div>
                    </div>
                </div><!-- 1줄 -->
                <div class="chat_list">
                    <p class="cat_mark _f">전문가<br>찾기</p>                    
                    <div class="pro_name">
                        <div class="user_pic1-1"></div>
                        <p>testid111</p>
                    </div>
                    <div class="chat_txt">
                        <p class="tit">
                            <span>일러스트 디자인</span><br>
                            서비스 제목을 나타냅니다.~디자인 해드립니다
                        </p>
                        <div class="modal_btn" data-modal="#request_chat">
                            <p>요청중</p>
                            <p>testid111<span>2020.01.01 11:11</span></p>
                            <p>저기요 이건 지금 진행하고 있나요?? 채팅의 마지막 말이 나옵니다….</p>
                        </div>
                        <div class="btn_zon">
                            <a class="btn1_2h30 green green_bo">전문가 프로필</a>
                            <a class="modal_btn btn1_1h30 green_b" data-modal="#request_detail">내 의뢰요청서</a>
                        </div>
                    </div>
                </div><!-- 1줄 -->
                <div class="chat_list">
                    <p class="cat_mark _f">전문가<br>찾기</p>                    
                    <div class="pro_name">
                        <div class="user_pic1-1"></div>
                        <p>testid111</p>
                    </div>
                    <div class="chat_txt">
                        <p class="tit">
                            <span>일러스트 디자인</span><br>
                            서비스 제목을 나타냅니다.~디자인 해드립니다
                        </p>
                        <div class="modal_btn" data-modal="#request_chat">
                            <p>요청중</p>
                            <p>testid111<span>2020.01.01 11:11</span></p>
                            <p>저기요 이건 지금 진행하고 있나요?? 채팅의 마지막 말이 나옵니다….</p>
                        </div>
                        <div class="btn_zon">
                            <a class="btn1_2h30 green green_bo">전문가 프로필</a>
                            <a class="modal_btn btn1_1h30 green_b" data-modal="#request_detail">내 의뢰요청서</a>
                        </div>
                    </div>
                </div><!-- 1줄 -->
                <div class="chat_list">
                    <p class="cat_mark _f">전문가<br>찾기</p>                    
                    <div class="pro_name">
                        <div class="user_pic1-1"></div>
                        <p>testid111</p>
                    </div>
                    <div class="chat_txt">
                        <p class="tit">
                            <span>일러스트 디자인</span><br>
                            서비스 제목을 나타냅니다.~디자인 해드립니다
                        </p>
                        <div class="modal_btn" data-modal="#request_chat">
                            <p>요청중</p>
                            <p>testid111<span>2020.01.01 11:11</span></p>
                            <p>저기요 이건 지금 진행하고 있나요?? 채팅의 마지막 말이 나옵니다….</p>
                        </div>
                        <div class="btn_zon">
                            <a class="btn1_2h30 green green_bo">전문가 프로필</a>
                            <a class="modal_btn btn1_1h30 green_b" data-modal="#request_detail">내 의뢰요청서</a>
                        </div>
                    </div>
                </div><!-- 1줄 -->
                <div class="chat_list">
                    <p class="cat_mark _f">전문가<br>찾기</p>                    
                    <div class="pro_name">
                        <div class="user_pic1-1"></div>
                        <p>testid111</p>
                    </div>
                    <div class="chat_txt">
                        <p class="tit">
                            <span>일러스트 디자인</span><br>
                            서비스 제목을 나타냅니다.~디자인 해드립니다
                        </p>
                        <div>
                            <p>요청중</p>
                            <p>testid111<span>2020.01.01 11:11</span></p>
                            <p>저기요 이건 지금 진행하고 있나요?? 채팅의 마지막 말이 나옵니다….</p>
                        </div>
                        <div class="btn_zon">
                            <a class="btn1_2h30 green green_bo">전문가 프로필</a>
                            <a class="modal_btn btn1_1h30 green_b" data-modal="#request_detail">내 의뢰요청서</a>
                        </div>
                    </div>
                </div><!-- 1줄 -->
            </div><!-- 콘테스트 끝 --> 
            
        </div>
    
        
       
    </div>
</div>


<footer>
    <div class="footin">
        <div class="com_info">
            <p>(주)아이엠프리랜서</p>
            <p> 대표 :  김홍도<br>
                개인정보보호책임 : 신윤복<br>
                사업자등록번로 : 7777-77-7777<br>
                통신판매업신고 : 777-77-777<br>
                주소 : 인천광역시 부평구 삼산로 154번길<br>
                대표번호 : 1555-5555<br>
                대표이메일 : test@Test.com
            </p>
            <p>Copyright ©IamFreelancer. All Rights Reserved.</p>
        </div>
        <div class="callcenter">
            <p>1555-5555<br>
             <span>평일 : 10:00~17:00 ( 주말/공휴일 제외 )</span>
            </p>
            <a href="">App store</a>
            <a href="">Play store</a>
            <ul>
                <li><a href="">인스타그램</a></li>
                <li><a href="">페이스북</a></li>
                <li><a href="">트위터</a></li>
                <li><a href="">유튜브</a></li>
            </ul>
        </div>
        <div class="fmenu">
            <ul>
                <li><a href="">회사소개</a></li>
                <li>
                    <a href="">고객안내</a>
                    <a href="">콘테스트개최</a>
                    <a href="">이용방법</a>
                    <a href="">평점후기</a>
                </li>
                <li>
                    <a href="">전문가안내</a>
                    <a href="">이용안내</a>
                    <a href="">전문가가입</a>
                </li>
                <li>
                    <a href="">고객센터</a>
                    <a href="">이용방법</a>
                    <a href="">전문가가입</a>
                </li>
            </ul>
            <div>
                <a href="">이용약관</a>
                <a href="">개인정보취급방침</a>
            </div>
            
        </div>        
    </div>   
    <p>(주)회사명 통신판매중개자로서 통신판매의 당사자가 아니며 개별 판매자가 제공하는 서비스에 대한 이행, 계약사항 등과 관련한의무와 책임은 거래당사자에게 있습니다.</p>
</footer>


<!-- 모달시작 -->
<div class="modal" id="request_detail">    
    <div class="modal__content">     
        <div class="modal__tbtn _2">                                  
            <p class="closeBtn">닫기</p>
        </div>	              
        <div class="modal__body">	            		
            <div class="request_detail">
                <p class="cat_mark _f">전문가<br>찾기</p>
                <!-- <p class="cat_mark _my">직접<br>의뢰</p> -->
                <div class="profile">
                    <div class="pic">전문가 사진</div>
                    <p class="pro_id">pro_id</p>
                    <ul class="pro_history">
                        <li><span>콘테스트 참여 이력</span> 12154회</li>
                        <li><span>우승</span> 154회</li>
                        <li><span>전문가 의뢰요청</span> 154회</li>
                    </ul>
                    <button>포트폴리오</button>
                    <div class="work_info">
                        <p>작품설명</p>
                        <p>이 작품은 맛있는 치킨을 표현하기 
                            위해서 직접 치킨을 튀겨보고, 
                            매장까지 찾아갔습니다
                            치킨의 맛있음을 표현하기 위해 
                            노력을 많이 했습니다.
                            초록색은 건강한 닭을 의미하고 
                            빨간색은 맛있음을 표현했습니다.
                        </p>
                    </div>
                </div>
                <div class="request_work">
                    <div class="tit">
                        <p>일러스트 디자인 의뢰</p>
                    </div>
                    <div class="mtext">
                        <div>
                            <p class="tit">원하는 종류를 선택해주세요.</p>
                            <p class="txt">배경/삽화</p>
                        </div>
                        <div>
                            <p class="tit">의뢰 내용을 입력해주세요(준비상황, 예상, 제작 기한 등)</p>
                            <p class="txt">의뢰 내용이 들어갈 부분입니다. 의뢰 내용으로는 화려하지만 심플한 일러스트를 원합니다. <br>
                                색은 초록색과 분홍색이 있었으면 좋겠습니다. <br>
                                첨부한 이미지와 비슷하게 작업해주세요. 그렇지만 독창성이 있었으면좋겠습니다.
                            </p>
                        </div>
                        <div>
                            <p class="tit">전문가가 참고할 파일을 올려주세요.(필수)</p>
                            <div class="rimg">
                                <img src="">                               
                            </div>
                            <div class="rimg">
                                <img src="">                               
                            </div>
                            <div class="rimg">
                                <img src="">                                
                            </div>
                        </div>
                        <div>
                            <p class="tit">언제까지 완료되어야 할까요?</p>
                            <p class="txt">협의가능</p>
                        </div>
                        <div>
                            <p class="tit">전문가 매칭을 위해 의뢰인님이 계신 곳을 선택해주세요.</p>
                            <p class="txt">어디어디 지역</p>
                        </div>
                    </div>

                </div>
            </div>
          
        </div>                                 
    </div>
</div>

<!-- 모달시작 -->
<div class="modal" id="request_chat">    
    <div class="modal__content">     
        <div class="modal__tbtn _2">                                  
            <p class="closeBtn">닫기</p>
        </div>	              
        <div class="modal__body">	            		
            <div class="request_detail">
                <p class="cat_mark _f">전문가<br>찾기</p>
                <!-- <p class="cat_mark _my">직접<br>의뢰</p> -->
                <div class="profile">
                    <div class="pic">전문가 사진</div>
                    <p class="pro_id">pro_id</p>
                    <ul class="pro_history">
                        <li><span>콘테스트 참여 이력</span> 12154회</li>
                        <li><span>우승</span> 154회</li>
                        <li><span>전문가 의뢰요청</span> 154회</li>
                    </ul>
                    <button>포트폴리오</button>
                    <div class="work_info">
                        <p>작품설명</p>
                        <p>이 작품은 맛있는 치킨을 표현하기 
                            위해서 직접 치킨을 튀겨보고, 
                            매장까지 찾아갔습니다
                            치킨의 맛있음을 표현하기 위해 
                            노력을 많이 했습니다.
                            초록색은 건강한 닭을 의미하고 
                            빨간색은 맛있음을 표현했습니다.
                        </p>
                    </div>
                </div>
                <div class="request_chat">
                    <div class="tit">
                        <p><span>일러스트 디자인 의뢰</span><br>
                        서비스 제목을 나타냅니다.~디자인 해드립니다.
                        </p>
                    </div>
                    <div class="chatting">                        
                        <div class="talk_me">
                            <div class="user_pic3"></div>
                            <div class="chat_talkbox">
                                <div class="me">궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기</div>
                            </div>
                            <p>2020.06.06 15:01</p>
                        </div>                        
                        <div class="talk_you">
                            <div class="user_pic3"></div>
                            <div class="chat_talkbox">
                                <div class="you">궁금한점 대답해주기</div>
                            </div>
                            <p>2020.06.06 15:01</p>
                        </div>
                        <div class="talk_me">
                            <div class="user_pic3"></div>
                            <div class="chat_talkbox">
                                <div class="me">궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기궁금한점 물어보기</div>
                            </div>
                            <p>2020.06.06 15:01</p>
                        </div>                        
                        <div class="talk_you">
                            <div class="user_pic3"></div>
                            <div class="chat_talkbox">
                                <div class="you">
                                    궁금한점 대답해주기
                                    <br>
                                  <button class="st04">견적서 보기</button>  
                                </div>                                
                            </div>
                            <p>2020.06.06 15:01</p>
                        </div>                                      
                    </div>
                    <div class="chat_writ">                       
                        <div class="dropdown chat_btn">
                            <input class="dropdown__check" type="checkbox" id="dropdown1">
                            <label class="dropdown__toggle" for="dropdown1">+</label>
                            <ul class="dropdown__menu">
                              <li>
                                <a class="st01">파일 보내기</a>
                              </li>
                              <li>
                                <a class="st02">의뢰완료하기</a>
                              </li>
                              <li>
                                <a class="st03">의뢰취소하기</a>
                              </li>
                            </ul>                
                        </div>                        
                        <input type="text">
                        <button>전송</button>
                    </div>

                </div>
            </div>
          
        </div>                                 
    </div>
</div>


<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
<script src="/pro/js/script.js"></script>
</body>
</html>