<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iam Freelancer</title>
    
        <link rel="stylesheet" type="text/css" href="pro/css/reset.css">
        <link rel="stylesheet" type="text/css" href="pro/css/default.css">
        <link rel="stylesheet" type="text/css" href="pro/css/style.css">
    
      
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
        <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js'></script>   
    
    

</head>
<body>
    
<header class="sub">  
    <div class="svisual _01">
        <p>Contest</p>   
    </div>  
    <div class="top float">
        <div class="hedmenu">
            <h1><a href="/"><img src="pro/img/logo.png" alt="Iam Freelancer"></a></h1>
            <ul class="top_smenu">
                <li><a href="">로그인</a></li>
                <li><a href="">전문가 등록</a></li>
                <li><a href="">회원가입</a></li>
                <li><a class="lang" href="">언어</li>
            </ul>

            <nav>
                <ul class="navi">
                    <li><a href="">Contest</a>
                        <ul>                        
                            <li><a href="">Open Contest</a></li>
                            <li><a href="">Contest History</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Review</a></li>
                            <li><a href="">Price</a></li>                      
                        </ul>
                    </li>
                    <li><a href="">Design</a></li>
                    <li><a href="">Digital Marketing</a></li>
                    <li><a href="">Writing</a></li>
                    <li><a href="">Video</a></li>
                    <li><a href="">Audio</a></li>
                    <li><a href="">Programing</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">Lifestyle</a></li>               
                </ul>                  
            </nav>
        </div>    
    </div>  
</header>



<div class="subpage">
    <div class="container w1280 margin50auto ">
        <div class="contents marginb100">
            <div class="contest_dbox">
                <p class="tit"><span>#LogoDesign</span> 콘테스트 개최</p>
                <p class="view">조회 435</p>
                <div class="contest_detail">                
                    <div class="img">썸네일이미지</div>                   
                    <div class="contest_dbox_info">
                        <p class="contest_dbox_tit">(주)맛있는 치킨 <span>치킨 프랜차이즈 로고 Design</span></p>
                        <div>
                            <ul>
                                <li>상금 : 5,000,000원</li>
                                <li>2020.07.24 (D-10)</li>
                                <li>150명 지원</li>
                            </ul>
                            <p class="info_txt">요청사항이 들어갈 부분입니다.(ex 치킨 그림이 그려져 있는 로고가 좋겠습니다.)</p>
                            <div>
                                <p class="tag1-1">#태그</p>
                                <p class="tag1-1">#태그</p>
                                <p class="tag1-1">#태그</p>
                                <p class="tag1-1">#태그</p>
                                <p class="tag1-1">#태그</p>
                                <p class="tag1-1">#태그</p>
                            </div>
                        </div>            
                    </div>
                    <div class="pin_point">
                        <p class="pin green_b">상금100%</p>
                        <p class="pin purple_b">플래티넘</p>
                    </div>                
                </div>  
                <div class="contest_tab margint80">
                    <ul class="tabs _st01">
                        <li class="tab-link current" data-tab="tab-1">브리핑</li>
                        <li class="tab-link" data-tab="tab-2">참여작</li>
                        <li class="tab-link" data-tab="tab-3">참여하기</li>
                    </ul>
                    <div id="tab-1" class="tab-content current margint80">
                        <div>
                            <div class="deta_list marginb20">
                                <p class="tit">서비스 설명</p>                                
                                <p class="txt">㈜맛있는치킨은 건강한 닭을 사용해 위생적인 환경에서 닭을 조리합니다.
                                    늘 정직한 맛있는 치킨은 남녀노소 좋아하는 간식입니다.
                                </p>
                            </div>
                            <div class="deta_list">
                                <p class="tit">로고 형태</p>
                                <div class="eximg_box">
                                    <div class="checkbox">
                                        <div class="eximg _1"></div>
                                        <input type="checkbox" id="checkbox" class="gr" checked />
                                        <label for="checkbox">텍스트로고</label>
                                    </div>
                                    <div class="checkbox">
                                        <div class="eximg _2"></div>
                                        <input type="checkbox" id="checkbox" class="gr" checked />
                                        <label for="checkbox">그림로고</label>
                                    </div>
                                    <div class="checkbox">
                                        <div class="eximg _3"></div>
                                        <input type="checkbox" id="checkbox" class="gr" checked />
                                        <label for="checkbox">심볼로고</label>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="deta_list">
                                <p class="tit">로고 성격</p>
                                <div class="reference_img"></div>
                                <div class="reference_img"></div>
                                <div class="reference_img"></div>                                
                            </div>
                            <div class="deta_list">
                                <p class="tit">디자인 스타일</p>                                
                                <div class="design_st">
                                    <p>여성</p>
                                    <p>따스한</p>
                                    <p>디테일</p>
                                    <p>추상적</p>
                                    <p>모던</p>
                                    <p>둥근</p>
                                    <p>정적인</p>
                                </div>
                            </div>
                            <div class="deta_list">
                                <p class="tit">원하는 색상</p>                                
                                <p class="txt">빨간색이나 또는 초록색</p>
                            </div>
                            <div class="deta_list">
                                <p class="tit">상호명</p>                                
                                <p class="txt">맛있는 치킨, 치킨bb, 치킨최고</p>
                            </div>
                            <div class="deta_list">
                                <p class="tit">상세 설명</p>                                
                                <p class="txt">▶ ＂맛있는치킨”이 국내와 해외매장 확장으로 인하여 BI 및 로고를 단행합니다.<br>
                                    기존의 전통적 이미지의 캘리그라픽 로고를 단순화하여 심플하고 가독성 높은 브랜드 아이덴티티를 구축하길 원합니다.<br>
                                    ○ 로고+텍스트로고 (국/영문 병행표기)<br>
                                    ○ 선호하는 디자인 예시 (할리스커피의 영문텍스트와 로고 / 이삭토스트)<br><br>
                                    
                                    ▶ 의미 : 맛있는 치킨은 한 입씩 먹을 때마다 손님들에게 긍정적이고 즐거운 경험을 선사하기 위해 노력합니다.<br><br>
                                    
                                    ▶ 활용범위 : 메인간판/인테리어 사인물/홍보물/웹사이트<br><br>
                                    
                                    ▶ 유의사항<br>
                                    ○ 최종 당선 작품은 원본파일(ai) 제출 필수<br>
                                    ○ 참여자와 의뢰자 간의 저작재산권 양도 동의가 이루어진 당선작에 대한 저작재산권은 의뢰자에게 양도됩니다.<br>
                                    ○ 응모작은 반드시 순수 창작물이어야하며 표절및 위법행위로 판별시 수상이 취소될 수 있으며 모든 법적책임은 <br>
                                    응모자에게 있습니다.<br><br>
                                    
                                    ▶ 기타 문의사항은 콘테스트 코멘트창을 이용 부탁드립니다.
                                    </p>
                            </div>
                            <div class="deta_list marginb20">
                                <p class="tit">태그</p>
                                <div class="sub_tag_box">
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                    <p class="tag3 ncolor">#키워드1</p>
                                </div>                                        
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment_in">
                                <div>
                                    <div class="com_pic">글쓴이사진</div>
                                    <div class="winfo">
                                        <p class="id">작가아이디01</p>
                                        <p class="wdate">2020.01.01 11:11</p>
                                        <p class="com_txt">원하시는 색상말고 다른 색상으로 진행해도 괜찮을까요?</p>
                                    </div>
                                    <div class="com_btn">
                                        <a href="#">답글쓰기</a>
                                        <a href="#">수정</a>
                                        <a href="#">삭제</a>
                                    </div>
                                </div>
                                <div class="recomment">
                                    <div class="com_pic">글쓴이사진</div>
                                    <div class="winfo">
                                        <p class="id">작가아이디01</p>
                                        <p class="wdate">2020.01.01 11:11</p>
                                        <p class="com_txt">원하시는 색상말고 다른 색상으로 진행해도 괜찮을까요?</p>
                                    </div>
                                    <div class="com_btn">
                                        <a href="#">답글쓰기</a>
                                        <a href="#">수정</a>
                                        <a href="#">삭제</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_in">
                                <div>
                                    <div class="com_pic">글쓴이사진</div>
                                    <div class="winfo">
                                        <p class="id">작가아이디01</p>
                                        <p class="wdate">2020.01.01 11:11</p>
                                        <p class="com_txt">원하시는 색상말고 다른 색상으로 진행해도 괜찮을까요?</p>
                                    </div>
                                    <div class="com_btn">
                                        <a href="#">답글쓰기</a>
                                        <a href="#">수정</a>
                                        <a href="#">삭제</a>
                                    </div>
                                </div>                               
                            </div>
                            <div class="writ_comment">
                                <p>글쓴이 아이디</p>
                                <textarea placeholder="댓글을 작성해주세요."></textarea>
                                <button class="btn1_3h32 green_b white">작성완료</button>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-content margint80">
                       <ul class="participation_list">
                           <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" checked="checked" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>
                                <div class="mark1"></div>                               
                           </li>
                           <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>
                                <div class="mark_win"></div>                               
                            </li>
                            <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>                                                             
                            </li>
                            <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>                                                          
                            </li>
                            <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>                                                          
                            </li>
                            <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>                                                              
                            </li>
                            <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>                                                            
                            </li>
                            <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>                                                          
                            </li>
                            <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>                                                         
                            </li>
                            <li>                               
                                <div class="work">작품이미지</div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox_one" />
                                    <label for="checkbox_one">작가아이디</label>
                                </div>                                                        
                            </li>
                       </ul>
                       <div>
                           <button class="btn1_1h50 rad_b2 width180 modal_btn" data-modal="#win_pic">우승 선정</button>
                           <button class="btn1_2h50 rad2 rad_bo2 width180">1차 선정</button>
                       </div>
                        <!-- 모달시작 -->
                        <div class="modal" id="win_pic">
                            <div class="modal__content">    
                                <div class="modal__title">
                                    <p class="tit">의뢰후기</p>	
                                    <div class="modal__tbtn">                                  
                                        <p class="closeBtn">닫기</p>
                                    </div>		
                                </div>    
                                <div class="modal__body">
                                    <div class="modal_mom">
                                        <div class="star pop">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span class="half"></span>
                                            <span class="bin"></span>
                                        </div>
                                        <div class="tbox">
                                            <p>콘테스트 의외 이후로 걱정이 많았습니다. 그러나 참여작들중 가장 돋보이는 작가님의 참여작을 보고는<br>
                                                굉장히 만족스러웠습니다.<br>
                                                이러한 콘테스트를 통한 우리 기업의 로고를 만족스러운 결과물을 받아볼수 있다는 생각에 <br>
                                                좋네요. </p>
                                        </div>
                                    </div>
                                </div>                                 
                            </div>
                        </div> <!-- 모달시작 -->
                    </div>
                    <div id="tab-3" class="tab-content margint80">
                        <div class="participate2">
                            <div>
                                <p class="tit">작품 제목</p>
                                <input class="input31" type="text">
                            </div>
                            <div>
                                <p class="tit">작품 설명</p>
                                <textarea></textarea>
                            </div>
                            <div>
                                <p class="tit">썸네일 이미지</p>
                                <div class="wrap-custom-file">
                                    <input type="file" name="image1" id="image1" accept=".gif, .jpg, .png" />
                                    <label  for="image1">
                                      <span>+ 불러오기</span>
                                    </label>
                                  </div>
                                <p class="noti">작품을 대표할 수 있는 정사각형의 썸네일 이미지를 올려주세요.<br>
                                기준사이즈 : 600 × 600px  
                                </p>
                            </div>
                            <div>
                                <p class="tit">상세작품 이미지</p>
                                <div class="file-upload3">
                                    <div class="file-select">
                                      <div class="file-select-button btn1_3h30 green_b" id="fileName">+ 불러오기</div>
                                      <div class="file-select-name" id="noFile">참고 파일을 추가해주세요..</div> 
                                      <input class="input21 marginl10" type="file" name="chooseFile" id="chooseFile">
                                    </div>
                                </div>
                                <p class="noti _2">(RGB 형식의 JPG업로드,  최대 용량 10mb,  가로 최대 1024px/ 세로 자유)</p>
                            </div>
                            <div class="last">
                                <p class="tit">약관동의</p>
                                <textarea></textarea>
                                <div class="checkbox">
                                    <input type="checkbox" id="check" />
                                    <label for="check">위 사항들을 모두 확인했습니다.</label>
                                </div>                                
                            </div>
                            <button class="btn1_1h50 gray_b2 width150">취소</button>
                            <button class="btn1_1h50 rad_b2 width180">콘테스트 참여</button>
                        </div>
                    </div>
                </div>

            </div>                                   
        </div>
    
        <div class="right">        
            <div class="categories">
                <p class="tit">Categories</p>
                <ul>
                    <li><a href="" class="active">Open Contest</a></li>
                    <li><a href="">Contest History</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Review</a></li>
                    <li><a href="">Price</a></li>
                </ul>
            </div>
            <div class="tag margint80">
                <p class="tit">인기태그</p>
                <p class="tag3">#키워드</p>
                <p class="tag3">#이런키워드</p>
                <p class="tag3">#태그</p>
                <p class="tag3">#태그그</p>
            </div>
        </div>
       
    </div>
</div>


<footer>
    <div class="footin">
        <div class="com_info">
            <p>(주)아이엠프리랜서</p>
            <p> 대표 :  김홍도<br>
                개인정보보호책임 : 신윤복<br>
                사업자등록번로 : 7777-77-7777<br>
                통신판매업신고 : 777-77-777<br>
                주소 : 인천광역시 부평구 삼산로 154번길<br>
                대표번호 : 1555-5555<br>
                대표이메일 : test@Test.com
            </p>
            <p>Copyright ©IamFreelancer. All Rights Reserved.</p>
        </div>
        <div class="callcenter">
            <p>1555-5555<br>
             <span>평일 : 10:00~17:00 ( 주말/공휴일 제외 )</span>
            </p>
            <a href="">App store</a>
            <a href="">Play store</a>
            <ul>
                <li><a href="">인스타그램</a></li>
                <li><a href="">페이스북</a></li>
                <li><a href="">트위터</a></li>
                <li><a href="">유튜브</a></li>
            </ul>
        </div>
        <div class="fmenu">
            <ul>
                <li><a href="">회사소개</a></li>
                <li>
                    <a href="">고객안내</a>
                    <a href="">콘테스트개최</a>
                    <a href="">이용방법</a>
                    <a href="">평점후기</a>
                </li>
                <li>
                    <a href="">전문가안내</a>
                    <a href="">이용안내</a>
                    <a href="">전문가가입</a>
                </li>
                <li>
                    <a href="">고객센터</a>
                    <a href="">이용방법</a>
                    <a href="">전문가가입</a>
                </li>
            </ul>
            <div>
                <a href="">이용약관</a>
                <a href="">개인정보취급방침</a>
            </div>
            
        </div>        
    </div>   
    <p>(주)회사명 통신판매중개자로서 통신판매의 당사자가 아니며 개별 판매자가 제공하는 서비스에 대한 이행, 계약사항 등과 관련한의무와 책임은 거래당사자에게 있습니다.</p>
</footer>





<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
<script src="/pro/js/script.js"></script>
<script src="js/pro/js/step.js"></script>
</body>
</html>