<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iam Freelancer</title>
    
        <link rel="stylesheet" type="text/css" href="pro/css/reset.css">
        <link rel="stylesheet" type="text/css" href="pro/css/default.css">
        <link rel="stylesheet" type="text/css" href="pro/css/style.css">
    
      
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
        <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js'></script>   
    


</head>
<body>
    
<header class="sub">    
    <div class="svisual _01">
        <p>Design</p>   
    </div>
    <div class="top float">
        <div class="hedmenu">
            <h1><a href="/"><img src="pro/img/logo.png" alt="Iam Freelancer"></a></h1>
            <ul class="top_smenu">
                <li><a href="">로그인</a></li>
                <li><a href="">전문가 등록</a></li>
                <li><a href="">회원가입</a></li>
                <li><a class="lang" href="">언어</li>
            </ul>

            <nav>
                <ul class="navi">
                    <li><a href="">Contest</a>
                        <ul>                        
                            <li><a href="">Open Contest</a></li>
                            <li><a href="">Contest History</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Review</a></li>
                            <li><a href="">Price</a></li>                      
                        </ul>
                    </li>
                    <li><a href="">Design</a></li>
                    <li><a href="">Digital Marketing</a></li>
                    <li><a href="">Writing</a></li>
                    <li><a href="">Video</a></li>
                    <li><a href="">Audio</a></li>
                    <li><a href="">Programing</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">Lifestyle</a></li>               
                </ul>  
            </nav>
        </div> 
    </div>
</header>



<div class="sub">
    <div class="container w1280 margin50auto ">
        <div class="contents">
            <div class="cate_detail_tit">
                <p>서비스 제목을 나타냅니다.~디자인 해드립니다.</p>
                <div class="star">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="half"></span>
                    <span class="bin"></span>
                </div>
                <p class="star_point">5.0 (80)</p>
                <p class="view">조회 <span>435</span></p>
            </div>
            <div class="bx-nav">
                <div class="bxslider3">
                    <div></div>
                    <div></div>
                    <div></div>    
                    <div></div>    
                    <div></div>    
                    <div></div>    
                    <div></div>    
                    <div></div>    
                </div>
                <div class="pager" id="bx-pager">
                    <a data-slide-index="0" href=""></a>
                    <a data-slide-index="1" href=""></a>
                    <a data-slide-index="2" href=""></a>        
                    <a data-slide-index="3" href=""></a>        
                    <a data-slide-index="4" href=""></a>        
                    <a data-slide-index="5" href=""></a>        
                    <a data-slide-index="6" href=""></a>        
                    <a data-slide-index="7" href=""></a>        
                </div> 
            </div>
            <div>
                <ul class="tabs _st01">
                    <li class="tab-link current" data-tab="tab-1">서비스 설명</li>
                    <li class="tab-link" data-tab="tab-2">가격 설명</li>
                    <li class="tab-link" data-tab="tab-3">취소 및 환불</li>
                    <li class="tab-link" data-tab="tab-4">평가 및 이용후기</li>
                </ul>
                <div id="tab-1" class="tab-content current">     
                    <div class="exp">
                        <p>
                            안녕하세요. <br>
                            합리적인 가격과 소통을 통한 최고의 디자인을 약속드립니다.<br>
                            감사합니다.<br><br>
                            <span class="blalck1">· 리뷰로 증명된 로고 만족도</span><br>
                            <span class="blalck1">· 포트폴리오를 꼭 확인해보세요.</span>                            
                        </p>
                        <p class="tit">작업 과정</p>
                        <p>
                            1. 상담<br>
                            충분한 상담을 통해 컨셉과 방향을 자세히 전달해주세요.<br><br>
    
                            2. 고객님의 주문 완료<br>
    
                            3. 회의 진행<br><br>
                            (디자인팀과 마케팅팀 전체 회의)<br><br>
    
                            4. 시안 제공<br>
                            정성을 들여  디자인합니다.<br>
    
                            5. 수정<br>
                            (피드백을 통한 수정)<br>
    
                            6. 완료
                        </p>
                        <p class="tit">기타 안내</p>
                        <p>
                            · 최종 확정되어 발송된 제작물의 저작권은 의뢰 및 구매해주신 고객님께 귀속됩니다.<br>
                            · 확정되지 않은 시안은 저에게 소유권이 있으며, 고객님이 임의로 사용하는 것은 불가합니다.<br>
                            · 3일 동안 무응답 시 마지막에 보내드린 시안으로 발송됩니다.<br>
                            · 상담 완료 후 모든 작업이 시작됩니다.<br>
                            · 빠른 작업 옵션은 초안 제공 기준입니다.<br>
                            · 고객님께서 최종 선택해주신 하나의 시안이 제공됩니다.(상담에 따라 상이할 수 있습니다.)
                        </p>
                        <div class="summary">
                            <div>
                                <p class="tit">작업형태</p>
                                <p class="txt">심볼로고, 캐릭터로고, 텍스트로고</p>
                            </div>
                            <div>
                                <p class="tit">파일형식</p>
                                <p class="txt">JPG, PNG, PSD</p>
                            </div>
                            <div>
                                <p class="tit">추가옵션</p>
                                <p class="txt">원본파일제공, 추가수정 2회</p>
                            </div>
                            <div>
                                <p class="tit">태그</p>
                                <div>
                                   <p class="tag3">#태그</p><p class="tag3">#태그</p><p class="tag3">#태그</p><p class="tag3">#태그</p> 
                                </div>                            
                            </div>
                        </div>
                    </div>                     
                </div>
                <div id="tab-2" class="tab-content">
                    <div class="ptable">
                        <div class="ptable_tit">
                            <p>원본제공</p>
                            <p>응용이미지</p>
                            <p>상업적 이용</p>
                            <p>상표등록</p>
                            <p>시안</p>
                            <p>수정</p>
                            <p>작업일수</p>                           
                        </div>
                        <div class="preserve">
                            <p class="sta">STANDARD</p>
                            <table>
                                <thead>
                                    <tr>
                                        <th>80,000원</th>
                                    </tr>                                
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><p>텍스트 형 로고</p>
                                            로고 시안 1개+수정 1회
                                            +로고 응용 이미지 2컷(목업)
                                            +원본 파일
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>1개</td>
                                    </tr>
                                    <tr>
                                        <td>1회</td>
                                    </tr>
                                    <tr>
                                        <td>4일</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="preserve">
                            <p class="del">DELUXE</p>
                            <table>
                                <thead>
                                    <tr>
                                        <th>190,000원</th>
                                    </tr>                                
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><p>심볼/엠블럼 형 로고</p>
                                            로고 시안 2개+수정 3회+
                                            유료 폰트 사용+로고 응용 이미지 
                                            4컷(목업)+원본 파일
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>2개</td>
                                    </tr>
                                    <tr>
                                        <td>3회</td>
                                    </tr>
                                    <tr>
                                        <td>4일</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="preserve">
                            <p class="pre">PREMIUM</p>
                            <table>
                                <thead>
                                    <tr>
                                        <th>220,000원</th>
                                    </tr>                                
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><p>프리미엄 형 로고</p>
                                            프리미엄 로고 시안 3개+수정 
                                            무제한+유료 폰트 사용+로고 응용 
                                            이미지 6컷(목업)+원본 파일                                            
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>○</td>
                                    </tr>
                                    <tr>
                                        <td>3개</td>
                                    </tr>
                                    <tr>
                                        <td>무제한</td>
                                    </tr>
                                    <tr>
                                        <td>10일</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="exp">
                        <p class="tit">수정 및 재진행</p>
                        <p>
                            <span>수정 안내</span><br>
                            · 수정 횟수는 주문 사양별 조건을 참조하시기 바랍니다.<br>
                            · 기본 수정 범위 : 서체, 컬러, 배치 등 선택된 1개의 시안 내에서의 수정. 시안 내 수정 가능한 범위 내<br>
                            (기존 디자인에서 변형이 가능한 부분에 한해 가능)<br>
                        </p> 
                    </div>
                                     
                </div>
                <div id="tab-3" class="tab-content">
                   <div class=" exp">
                       <p class="tit">취소 및 환불 규정</p>
                       <p>
                        01. 전문가와 의뢰인 간의 상호 협의 후 청약철회가 가능합니다.<br><br>

                        02. 전문가의 귀책사유로 디자인작업을 시작하지 않았거나 혹은 이에 준하는 보편적인 관점에서 심각하게 잘못 이행한 경우 
                        결제 금액 전체 환불이 가능합니다.<br><br>
                        
                        03. 전문가가 작업 기간 동안 지정된 서비스를 제공하지 못할 것이 확실한 경우 지급받은 서비스 비용을 일할 계산하여 작업물 
                        개수와 작업 기간 일수만큼 공제하고 잔여 금액을 환불합니다.<br><br>
                        
                        04. 서비스 받은 항목을 공제하여 환불하며, 공제 비용은 정가 처리됩니다.<br>
                        가. 소비자 피해 보상 규정에 의거하여 작업물 원본의 멸실 및 작업 기간 미이행 및 이에 상응하는 전문가 책임으로 인한 피해 발생 시, 
                        전액 환불<br>
                        나. 시안 작업 진행된 상품 차감 환불<br>                        
                        ⓐ. '디자인'에 대한 금액이 서비스 내 별도 기재가 되지 않았거나, 디자인 상품 패키지 내 수정 횟수가 1회(1회 포함) 이상인 서비스 
                        상품의 시안 or 샘플이 제공된 경우→ 구매금액의 10% 환불(디자인 비용이 별도 기재되어 있는 경우, 해당금액 차감 후 환불)<br><br>
                        
                        ※ 시안 제공 및 수정이 추가로 이뤄진 경우 환불 금액내 수정 횟수에 따라 분할하여 환불.<br><br>

                        05. 주문 제작 상품 등 서비스 받은 항목이 <br>
                        없으며, 결제 후 1일 이내 작업이 진행되기 전 시점은 전액 환불 가능.<br><br>

                        06. 다만, 환불이 불가능한 서비스에 대한 사실을 표시사항에<br> 
                        포함한 경우에는 의뢰인의 환불요청이 제한될 수 있습니다.가. 고객의 요청에 따라 개별적으로 주문 제작되는 재판매가 불가능한 
                        경우(인쇄, 이니셜 각인, 사이즈 맞춤 등)<br>
                        ⓐ. 주문 제작 상품 특성상 제작(인쇄 등) 진행된 경우. <br>                       
                        ⓑ. 인쇄 색상의 차이 : 모니터의 종류에 따라 색상의 차이가 발생하며,인쇄 시마다 합판 인쇄 방법의 특성상 색상 표현의 오차가 
                        발생함.<br>                        
                        ⓒ. 디자인 서비스이며 수정 횟수가 존재하지 않았던 상품일 경우 시안 수령 후 환불 불가<br>
                        
                       </p>
                   </div>
                </div>
                <div id="tab-4" class="tab-content">
                    <div class="tab_review">
                        <div class="total_point">
                            <p>4.8</p>
                            <div class="star">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="half"></span>
                                <span class="bin"></span>
                            </div>
                            <p class="star_point">5.0 (80)</p>
                        </div>
                        <div class="review_list">
                            <div class="list_line">
                                <div class="user_pic5"></div>
                                <div class="tbox">
                                    <div class="star">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="half"></span>
                                        <span class="bin"></span>
                                    </div>
                                    <p class="userid">의뢰인아이디01 <span>2020.01.01 11:11</span></p>
                                    <p class="user_review">작업속도 빠르시고 디자인 퀄리티가 좋습니다. 계속 같이 일하고 싶습니다.</p>
                                </div>
                            </div>
                            <div class="list_line">
                                <div class="user_pic5"></div>
                                <div class="tbox">
                                    <div class="star">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="half"></span>
                                        <span class="bin"></span>
                                    </div>
                                    <p class="userid">의뢰인아이디01 <span>2020.01.01 11:11</span></p>
                                    <p class="user_review">작업속도 빠르시고 디자인 퀄리티가 좋습니다. 계속 같이 일하고 싶습니다.</p>
                                </div>
                            </div>
                            <div class="list_line">
                                <div class="user_pic5"></div>
                                <div class="tbox">
                                    <div class="star">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="half"></span>
                                        <span class="bin"></span>
                                    </div>
                                    <p class="userid">의뢰인아이디01 <span>2020.01.01 11:11</span></p>
                                    <p class="user_review">작업속도 빠르시고 디자인 퀄리티가 좋습니다. 계속 같이 일하고 싶습니다.</p>
                                </div>
                            </div>
                            <div class="list_line">
                                <div class="user_pic5"></div>
                                <div class="tbox">
                                    <div class="star">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="half"></span>
                                        <span class="bin"></span>
                                    </div>
                                    <p class="userid">의뢰인아이디01 <span>2020.01.01 11:11</span></p>
                                    <p class="user_review">작업속도 빠르시고 디자인 퀄리티가 좋습니다. 계속 같이 일하고 싶습니다.</p>
                                </div>
                            </div>
                            <div class="list_line">
                                <div class="user_pic5"></div>
                                <div class="tbox">
                                    <div class="star">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="half"></span>
                                        <span class="bin"></span>
                                    </div>
                                    <p class="userid">의뢰인아이디01 <span>2020.01.01 11:11</span></p>
                                    <p class="user_review">작업속도 빠르시고 디자인 퀄리티가 좋습니다. 계속 같이 일하고 싶습니다.</p>
                                </div>
                            </div>
                            <div class="list_line">
                                <div class="user_pic5"></div>
                                <div class="tbox">
                                    <div class="star">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span class="half"></span>
                                        <span class="bin"></span>
                                    </div>
                                    <p class="userid">의뢰인아이디01 <span>2020.01.01 11:11</span></p>
                                    <p class="user_review">작업속도 빠르시고 디자인 퀄리티가 좋습니다. 계속 같이 일하고 싶습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="paging margint30">    
                            <p class="first"><a href="">first</a></p>
                            <p class="prev"><a href="">prev</a></p>
                            <ul>
                                <li><a href="" class="active">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                            </ul>
                            <p class="next"><a href="">next</a></p>
                            <p class="end"><a href="">end</a></p>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="right">    
            <div class="pro_profile">
                <div class="like">좋아요</div>
                <div class="user_pic1"></div>
                <p class="id">USERID</p>
                <p class="intro">
                    안녕하세요 test333입니다. 
                    저는 ㅇㅇ전공으로 디자인을 아주 잘
                    한답니다. 전문가 소개 글
                </p>
                <ul>
                    <li><span>콘테스트 참여 이력</span><span>12154회</span></li>
                    <li><span>우승</span><span>154회</span></li>
                    <li><span>전문가 의뢰요청</span><span>154회</span></li>
                </ul>
                <button>포트폴리오</button>
            </div> 
            <button class="contec_us modal_btn" data-modal="#request">의뢰하기</button>   
            <div class="categories">
                <p class="tit">Categories</p>
                <ul>
                    <li><a href="" class="active">Open Contest</a></li>
                    <li><a href="">Contest History</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Review</a></li>
                    <li><a href="">Price</a></li>
                </ul>
            </div>
            <div class="tag margint80">
                <p class="tit">인기태그</p>
                <p class="tag3">#키워드</p>
                <p class="tag3">#이런키워드</p>
                <p class="tag3">#태그</p>
                <p class="tag3">#태그그</p>
            </div>
        </div>        
    </div>    
</div>

<section class="msrvice _category">
    <p class="secTit blalck2 margint180">BEST <span class="rad1">SERVICE</span></p>
    <div class="msrvice_list">
        <div>
            <div class="msevice_thm"><img src="pro/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="pro/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="pro/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="pro/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="pro/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="pro/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
    </div>
</section>

<section class="mbottom">  
    <div class="mreview _sub">
        <p class="secTit white">REVIEW</p>
        <div class="bxslider2">
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="footin">
        <div class="com_info">
            <p>(주)아이엠프리랜서</p>
            <p> 대표 :  김홍도<br>
                개인정보보호책임 : 신윤복<br>
                사업자등록번로 : 7777-77-7777<br>
                통신판매업신고 : 777-77-777<br>
                주소 : 인천광역시 부평구 삼산로 154번길<br>
                대표번호 : 1555-5555<br>
                대표이메일 : test@Test.com
            </p>
            <p>Copyright ©IamFreelancer. All Rights Reserved.</p>
        </div>
        <div class="callcenter">
            <p>1555-5555<br>
             <span>평일 : 10:00~17:00 ( 주말/공휴일 제외 )</span>
            </p>
            <a href="">App store</a>
            <a href="">Play store</a>
            <ul>
                <li><a href="">인스타그램</a></li>
                <li><a href="">페이스북</a></li>
                <li><a href="">트위터</a></li>
                <li><a href="">유튜브</a></li>
            </ul>
        </div>
        <div class="fmenu">
            <ul>
                <li><a href="">회사소개</a></li>
                <li>
                    <a href="">고객안내</a>
                    <a href="">콘테스트개최</a>
                    <a href="">이용방법</a>
                    <a href="">평점후기</a>
                </li>
                <li>
                    <a href="">전문가안내</a>
                    <a href="">이용안내</a>
                    <a href="">전문가가입</a>
                </li>
                <li>
                    <a href="">고객센터</a>
                    <a href="">이용방법</a>
                    <a href="">전문가가입</a>
                </li>
            </ul>
            <div>
                <a href="">이용약관</a>
                <a href="">개인정보취급방침</a>
            </div>
            
        </div>        
    </div>   
    <p>(주)회사명 통신판매중개자로서 통신판매의 당사자가 아니며 개별 판매자가 제공하는 서비스에 대한 이행, 계약사항 등과 관련한의무와 책임은 거래당사자에게 있습니다.</p>
</footer>


<!-- 모달시작 -->
<div class="modal" id="modal1">
    <div class="modal__content">    
        <div class="modal__title">
            <p class="tit">의뢰후기</p>	
            <div class="modal__tbtn">                                  
                <p class="closeBtn">닫기</p>
            </div>		
        </div>    
        <div class="modal__body">
            <div class="modal_mom">
                <div class="star pop">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="half"></span>
                    <span class="bin"></span>
                </div>
                <div class="tbox">
                    <p>콘테스트 의외 이후로 걱정이 많았습니다. 그러나 참여작들중 가장 돋보이는 작가님의 참여작을 보고는<br>
                        굉장히 만족스러웠습니다.<br>
                        이러한 콘테스트를 통한 우리 기업의 로고를 만족스러운 결과물을 받아볼수 있다는 생각에 <br>
                        좋네요. </p>
                </div>
            </div>
        </div>                                 
    </div>
</div> 

<!-- 모달시작 -->
<div class="modal" id="request">
    <div class="modal__content">     
        <div class="modal__tbtn _2">                                  
            <p class="closeBtn">닫기</p>
        </div>	              
        <div class="modal__body">			
            <div class="request_detail">
                <div class="profile">
                    <div class="pic">전문가 사진</div>
                    <p class="pro_id">pro_id</p>
                    <p class="pro_intro">
                        안녕하세요 test333입니다. 
                        저는 ㅇㅇ전공으로 디자인을 아주 
                        잘한답니다. 전문가 소개 글  
                    </p>
                    <ul class="pro_history">
                        <li><span>콘테스트 참여 이력</span><span>12154회</span></li>
                        <li><span>우승</span><span>154회</span></li>
                        <li><span>전문가 의뢰요청</span><span>154회</span></li>
                    </ul>
                    <button>포트폴리오</button>
                    <div class="work_info">
                        <p>서비스 제목을 나타냅니다.
                            ~디자인 해드립니다                            
                        </p>                        
                        <ul>
                            <li>
                                <p>작업형태</p>
                                <p>심볼로고, 캐릭터로고, 텍스트로고</p>
                            </li>
                            <li>
                                <p>파일형식</p>
                                <p>JPG, PNG, PSD</p>
                            </li>
                            <li>
                                <p>추가옵션</p>
                                <p>원본파일제공, 추가수정 2회</p>
                            </li>
                        </ul> 
                        <div>
                            <p class="tag3-1">#태그</p>
                            <p class="tag3-1">#태그</p>
                            <p class="tag3-1">#태그</p>
                            <p class="tag3-1">#태그</p>
                            <p class="tag3-1">#태그</p>
                        </div>                      
                    </div>
                </div>
                <div class="work_form">
                    <div>
                        <p class="tit">의뢰 내용을 입력해주세요.</p>
                        <textarea name="" id="" placeholder="작업 내용, 콘셉트, 분량 등 자세히 입력하세요."></textarea>
                    </div>
                    <div class="files_up">
                        <p class="txt">전문가가 참고할 파일을 올려주세요.<span>(필수)</span></p>
                        <div class="files-wr" data-count-files="1">
                            <div class="one-file">
                              <label for="file-1">+ 파일추가</label>
                              <input name="file-1" id="file-1" type="file">
                              <div class="file-item hide-btn">
                                <span class="file-name"></span>
                                <span class="btn btn-del-file">x</span>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div>
                        <button class="modal_btn" data-modal="#okpop">의뢰요청</button>
                        <p class="txt"><span>! 내용을 입력해주세요.</span></p>
                    </div>
                   
                </div>
            </div>
          
        </div>                                 
    </div>
</div> 

<!-- 모달시작 -->
<div class="modal" id="okpop">
    <div class="modal__content">
        <div class="modal__body">			
            <p class="tit">의뢰가 요청되었습니다.</p>
            <div class="btn_zon">
                <button class="btn1_1h40 green_b">마이페이지</button>
                <button class="btn_close">닫기</button>
            </div>
        </div>                                 
    </div>
</div>

<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
<script src="/pro/js/script.js"></script>
</body>
</html>