<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iam Freelancer</title>

    <link rel="stylesheet" type="text/css" href="pro/css/reset.css">
    <link rel="stylesheet" type="text/css" href="pro/css/default.css">
    <link rel="stylesheet" type="text/css" href="pro/css/style.css">
  
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />


</head>
<body class="login">

<div class="loginbox _1">
    <h1><img src="pro/img/logo.png" alt="Iam Freelancer"></h1>
    <div class="top_btn">
        <a class="btn1_1h40 green_b txt18R" href="pro/main.html">전문가</a>
        <a class="btn1_1h40 gray_b1 txt18R" href="user/main.html">의뢰인</a>
    </div>    
    <div class="login_in">
        <ul class="left">
            <li><a href="login.html">로그인</a></li>
            <li><a href="findid.html">아이디 찾dddf기</a></li>
            <li><a href="findpw.html" class="active">비밀번호 찾기</a></li>
        </ul>
        <div> 
            <p class="noti marginb10 marginl10">가입하신 이메일 주소로 아이디를 찾을 수 있습니다.</p>                    
            <lable hidden>아이디</lable>
            <input class="input1" type="text" placeholder="아이디">

            <lable hidden>이름</lable>
            <input class="input1" type="text" placeholder="이름">

            <lable hidden>이메일</lable>
            <input class="input1" type="text" placeholder="이메일">
                      
            <button class="btn1_1h50 blalck_b1">확인</button>     
            <p class="error">회원이 아니거나 입력된 정보가 올바르지 않습니다.</p>
            <a class="btn1_2h50 gray_bo1 gray1" href="join.html">회원가입</a>
            
        </div>
    </div>
</div>




<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
<script src="/pro/js/script.js"></script>


</body>
</html>