<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Iam Freelancer</title>
    
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
        <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    
    	<script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js'></script>   
</head>
<body>
<div class="sub">
    <div class="container w1280 margin50auto ">
        <div class="contents"> 
            <div class="mypage myinfo">
                <p class="title">내 정보 변경</p>                
                <div>
                    <div class="myinfo_in">        
                        <div class="myinfo_modi">                            
                            <div>
                                <label>*이름</label> 
                                <input class="input31 width160" type="text" >
                            </div>
                            <div>
                                <label>*아이디</label> 
                                <input class="input31 width160" type="text" >
                                <p class="error">이미 사용중이거나 탈퇴한 아이디입니다.</p>
                            </div>
                            <div>
                                <label>*비밀번호</label> 
                                <input class="input31 width160" type="text" >
                            </div>
                            <div>
                                <label>*비밀번호 확인</label> 
                                <input class="input31 width160" type="text" >
                                <p class="error">비밀번호가 일치하지 않습니다.</p>
                            </div>
                            <div>
                                <label>*이메일</label> 
                                <input class="input31 width160" type="text" ><span>@</span> 
                                <input class="input31 width160" type="text" >
                                <div class="custom-select _21 width160">
                                    <lable hidden>메일선택</lable>
                                    <select>
                                        <option value="">직접입력</option>
                                        <option value="">daum.net</option>
                                        <option value="">gmail.com</option>
                                    </select>
                                </div>                                
                            </div>
                            <div>
                                <label>전화번호</label>                 
                                <div class="custom-select _21 width80">
                                    <lable hidden>전화번호 앞자리</lable>
                                    <select>
                                        <option value="">010</option>
                                        <option value="">02</option>
                                        <option value="">032</option>
                                    </select>
                                </div>
                                <span>-</span>
                                <input class="input31 width60" type="text">
                                <span>-</span>
                                <input class="input31 width60" type="text">
                            </div>
                            <div>
                                <label>*휴대폰 번호</label>                 
                                <div class="custom-select _21 width80">
                                    <lable hidden>전화번호 앞자리</lable>
                                    <select>
                                        <option value="">010</option>
                                        <option value="">02</option>
                                        <option value="">032</option>
                                    </select>
                                </div>
                                <span>-</span>
                                <input class="input31 width60" type="text">
                                <span>-</span>
                                <input class="input31 width60" type="text">
                                <button class="btn1_4h32 green_bo green txt14R">휴대폰 인증</button>
                                <div class="sms_cert">
                                    <input type="text" class="cnum"><div id="time">2:59</div>
                                </div>
                                <button class="btn1_3h32 green_b txt14R">인증</button>
                                <button class="btn1_3h32 rad_b2 txt14R">인증완료</button>
                            </div>
                            <div>
                                <label>*주소</label>
                                <input class="input31 width80" type="text">
                                <button class="btn1_3h32 blalck_b1 txt14R">우편번호</button>
                                <input class="input31 w280 clearboth marginl150 margint10" type="text">
                                <input class="input31 w280 margint10" type="text" placeholder="나머지 주소를 입력해주세요.">
                            </div>
                            <div>
                                <label>구분</label>
                                <div class="radio">
                                    <input type="radio" id="radio_one" name="radio_group" checked="checked" />
                                    <label for="radio_one">개인</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="radio_two" name="radio_group" />
                                    <label for="radio_two">기업</label>
                                </div>
                            </div>
                            <div>
                                <label>수익금 출금 은행</label>                 
                                <div class="custom-select _21 widtp width100">
                                    <lable hidden>은행선택</lable>
                                    <select>
                                        <option value="">기업</option>
                                        <option value="">신한</option>
                                        <option value="">032</option>
                                    </select>                
                                </div>
                                <input class="input31 width280" type="text" placeholder="계좌번호를 입력해주세요.">                                          
                            </div>  
                        </div>
                        <div class="btn_zon">            
                            <a class="modal_btn" data-modal="#out">회원탈퇴</a>
                            <a href="main.html">수정</a>
                            <p class="noti">입력하신 이메일은 아이디/비밀번호 찾기에 이용됩니다.</p>
                        </div>                        
                    </div>               
                </div>
                
            </div>
        </div>
        <div class="right">        
            <div class="categories">
                <p class="tit">Categories</p>
                <ul>
                    <li><a href="" class="active">Open Contest</a></li>
                    <li><a href="">Contest History</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Review</a></li>
                    <li><a href="">Price</a></li>
                </ul>
            </div>
            <div class="tag margint80">
                <p class="tit">인기태그</p>
                <p class="tag3">#키워드</p>
                <p class="tag3">#이런키워드</p>
                <p class="tag3">#태그</p>
                <p class="tag3">#태그그</p>
            </div>
        </div>
       
    </div>
</div>
<!-- 모달시작 -->
<div class="modal" id="out">
    <div class="modal__content">
        <div class="modal__body">	
            <div class="pop_out">
                <p>탈퇴하시겠습니까?</p>  
                <div class="custom-select _21 width400">
                    <lable hidden>탈퇴사유</lable>
                    <select>
                        <option value="">탈퇴사유1</option>
                        <option value="">탈퇴사유1</option>
                        <option value="">탈퇴사유1</option>
                    </select>                
                </div>
                <textarea class="reason" name="" id=""></textarea>
                <div class="fzon">
                    <button class="btn_close">취소</button>
                    <button class="modal_btn out" data-modal="#out_error">탈퇴</button>
                </div>  
            </div> 
        </div>                                 
    </div>
</div>

<!-- 모달시작 -->
<div class="modal" id="out_error">
    <div class="modal__content">
        <div class="modal__body">	
            <div class="pop_out">
                <p>보유 캐시 잔액이 있어<br>
                    탈퇴가 불가능합니다.
                </p> 
                <div class="fzon _2">
                    <button class="btn_close">확인</button>                   
                </div>  
            </div> 
        </div>                                 
    </div>
</div>
<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
</body>
</html>