<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iam Freelancer</title>

    <link rel="stylesheet" type="text/css" href="user/css/reset.css">
    <link rel="stylesheet" type="text/css" href="user/css/default.css">
    <link rel="stylesheet" type="text/css" href="user/css/style.css">
    
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js'></script>  
</head>
<body>
    
<header class="sub">  
    <div class="svisual _01">
        <p>견적서</p>   
    </div>  
    <div class="top float">
        <div class="hedmenu">
            <h1><a href="/"><img src="user/img/logo.png" alt="Iam Freelancer"></a></h1>
            <ul class="top_smenu">
                <li><a href="">로그인</a></li>
                <li><a href="">전문가 등록</a></li>
                <li><a href="">회원가입</a></li>
                <li><a class="lang" href="">언어</li>
            </ul>

            <nav>
                <ul class="navi">
                    <li><a href="">Contest</a>
                        <ul>                        
                            <li><a href="">Open Contest</a></li>
                            <li><a href="">Contest History</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Review</a></li>
                            <li><a href="">Price</a></li>                      
                        </ul>
                    </li>
                    <li><a href="">Design</a></li>
                    <li><a href="">Digital Marketing</a></li>
                    <li><a href="">Writing</a></li>
                    <li><a href="">Video</a></li>
                    <li><a href="">Audio</a></li>
                    <li><a href="">Programing</a></li>
                    <li><a href="">Business</a></li>
                    <li><a href="">Lifestyle</a></li>               
                </ul>  
            </nav>
        </div>
    </div>
</header>

<div class="sub">
    <div class="container w1280 margin50auto ">
        <div class="contents">
            <div class="esti_top">
                <p class="cat_mark _f">전문가<br>찾기</p>
                <!-- <p class="cat_mark _my">직접<br>의뢰</p> -->
                <p class="tit"><span>일러스트 디자인</span>서비스 제목을 나타냅니다.~디자인 해드립니다</p>
                <div class="state">
                    <p>견적확인중</p>
                    <p>2020.01.01 11:11</p>
                </div>
                <div class="btn_zon">
                    <button>전문가프로필</button>
                    <button>내 의뢰요청서</button>
                </div>
            </div>
            <div class="esti_body">
                <table class="margint30 marginb30">
                    <colgroup>
                        <col style="width:22%;" />
                        <col style="width:40%;" />
                        <col/>
                        <col style="width: 22%;"  />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>서비스 금액 유형</th>
                            <th>설명</th>
                            <th>작업일</th>
                            <th>추가금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>STANDARD  80,000원</td>
                            <td>시안 1개+수정 1회+응용 이미지 2컷+원본 파일</td>
                            <td>4일</td>
                            <td>200,000원</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <span>견적 상세내용</span>
                    견적 상세 내용이 보이는 곳입니다. 전문가가 상세 내용을 입력했으면 입력한 내용이 보여지지만 전문가가 입력을 안했으면 안보입니다. <br>
                    견적 상세 내용이 보이는 곳입니다. <br> <br>

                    가) 이런이런이런내용 <br>
                    나) 저런저런저런내용 <br>
                    다) 그런그런그런내용 <br>
                </p>
                <p class="margint30 marginb10">
                    <span>결제금액</span>
                </p>
                <div class="price_table">    
                    <div class="list">
                       <div class="marginb20">
                            <p class="tit">사용가능 쿠폰</p>
                            <div class="custom-select _2">
                                <lable hidden>셀렉트1</lable>
                                <select>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <p class="tit">캐시 사용</p>
                            <div class="mycash custom-select _1">
                                <p>내 보유캐시 : <span>452</span></p>
                                <div class="checkbox">
                                    <input class="gr" type="checkbox" id="alluse" />
                                    <label for="alluse">모두사용</label>
                                </div>
                                <input class="input31" type="text" placeholder="">
                            </div>
                        </div>
                        <ul>
                            <li><span>총 금액</span><span>280,000원</span></li>
                            <li><span>쿠폰</span><span>-2,000원</span></li>
                            <li><span>캐시사용</span><span>-452원</span></li>
                        </ul> 
                    </div>
                    <p class="total_price">총 결제금액  <span>277,548</span>원</p>
                </div>
                <p class="rtit margint30">
                    <span>결제방법</span>
                </p>
                <div class="pay_method  margint30">
                    <div class="radio">
                        <input type="radio" id="payment_1" name="payment" />
                        <label for="payment_1">결제방법1</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="payment_2" name="payment" />
                        <label for="payment_2">결제방법2</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="payment_3" name="payment" />
                        <label for="payment_3">결제방법3</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="payment_4" name="payment" />
                        <label for="payment_4">결제방법4</label>
                    </div>
                </div>
                <div class="btn_zon">
                    <button class="btn1_1h50 gray_b2 width180">의뢰취소</button>
                    <button class="btn1_1h50 rad_b2 width180">결제하기</button>
                </div>
            </div>
        </div>
      
        <div class="right">    
            <div class="pro_profile">
                <div class="like">좋아요</div>
                <div class="user_pic1"></div>
                <p class="id">USERID</p>
                <p class="intro">
                    안녕하세요 test333입니다. 
                    저는 ㅇㅇ전공으로 디자인을 아주 잘
                    한답니다. 전문가 소개 글
                </p>
                <ul>
                    <li><span>콘테스트 참여 이력</span><span>12154회</span></li>
                    <li><span>우승</span><span>154회</span></li>
                    <li><span>전문가 의뢰요청</span><span>154회</span></li>
                </ul>
                <button>포트폴리오</button>
            </div> 
            <button class="contec_us modal_btn" data-modal="#request">의뢰하기</button>   
            <div class="categories">
                <p class="tit">Categories</p>
                <ul>
                    <li><a href="" class="active">Open Contest</a></li>
                    <li><a href="">Contest History</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Review</a></li>
                    <li><a href="">Price</a></li>
                </ul>
            </div>
            <div class="tag margint80">
                <p class="tit">인기태그</p>
                <p class="tag3">#키워드</p>
                <p class="tag3">#이런키워드</p>
                <p class="tag3">#태그</p>
                <p class="tag3">#태그그</p>
            </div>
        </div>       
    </div>    
</div>

<section class="msrvice _category">
    <p class="secTit blalck2 margint180">BEST <span class="rad1">SERVICE</span></p>
    <div class="msrvice_list">
        <div>
            <div class="msevice_thm"><img src="user/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="user/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="user/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="user/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="user/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
        <div>
            <div class="msevice_thm"><img src="user/img/msevice01.png" alt="service"></div>
            <p class="tit">LOGO Design</p>
            <div>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
                <p class="tag2">#태그</p>
            </div>
        </div>
    </div>
</section>

<section class="mbottom">  
    <div class="mreview _sub">
        <p class="secTit white">REVIEW</p>
        <div class="bxslider2">
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
            <div class="review_box">
                <div class="user_pic2"></div>
                <div>
                    <p class="review_id">youid</p>
                    <div class="star">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="half"></span>
                        <span class="bin"></span>
                    </div>
                </div>
                <p class="review_txt"><span>#웹디자인 #홈페이지 #기업홈페이지</span><br>
                    웹에 지식이없는 저에게 차근히 설명도
                    잘해주시고 요청사항 모두 잘 
                    반영해주셔서 만족합니다. </p>
                <p class="review_date">2020-07-22</p>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="footin">
        <div class="com_info">
            <p>(주)아이엠프리랜서</p>
            <p> 대표 :  김홍도<br>
                개인정보보호책임 : 신윤복<br>
                사업자등록번로 : 7777-77-7777<br>
                통신판매업신고 : 777-77-777<br>
                주소 : 인천광역시 부평구 삼산로 154번길<br>
                대표번호 : 1555-5555<br>
                대표이메일 : test@Test.com
            </p>
            <p>Copyright ©IamFreelancer. All Rights Reserved.</p>
        </div>
        <div class="callcenter">
            <p>1555-5555<br>
             <span>평일 : 10:00~17:00 ( 주말/공휴일 제외 )</span>
            </p>
            <a href="">App store</a>
            <a href="">Play store</a>
            <ul>
                <li><a href="">인스타그램</a></li>
                <li><a href="">페이스북</a></li>
                <li><a href="">트위터</a></li>
                <li><a href="">유튜브</a></li>
            </ul>
        </div>
        <div class="fmenu">
            <ul>
                <li><a href="">회사소개</a></li>
                <li>
                    <a href="">고객안내</a>
                    <a href="">콘테스트개최</a>
                    <a href="">이용방법</a>
                    <a href="">평점후기</a>
                </li>
                <li>
                    <a href="">전문가안내</a>
                    <a href="">이용안내</a>
                    <a href="">전문가가입</a>
                </li>
                <li>
                    <a href="">고객센터</a>
                    <a href="">이용방법</a>
                    <a href="">전문가가입</a>
                </li>
            </ul>
            <div>
                <a href="">이용약관</a>
                <a href="">개인정보취급방침</a>
            </div>
            
        </div>        
    </div>   
    <p>(주)회사명 통신판매중개자로서 통신판매의 당사자가 아니며 개별 판매자가 제공하는 서비스에 대한 이행, 계약사항 등과 관련한의무와 책임은 거래당사자에게 있습니다.</p>
</footer>

<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
<script src="user/js/script.js"></script>
</body>
</html>