<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="rightFragment">
	<div class="right">        
	    <div class="categories">
	        <p class="tit">Categories</p>
	        <ul>
	            <li><a href="" class="active">Open Contest</a></li>
	            <li><a href="">Contest History</a></li>
	            <li><a href="">Portfolio</a></li>
	            <li><a href="">Review</a></li>
	            <li><a href="">Price</a></li>
	        </ul>
	    </div>
	    <div class="tag margint80">
	        <p class="tit">인기태그</p>
	        <p class="tag3">#키워드</p>
	        <p class="tag3">#이런키워드</p>
	        <p class="tag3">#태그</p>
	        <p class="tag3">#태그그</p>
	    </div>
	</div>
</div>
</html>