<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment">
	<div class="footin">
			<div class="com_info">
				<p>(주)아이엠프리랜서</p>
				<p>
					대표 : 김홍도<br> 개인정보보호책임 : 신윤복<br> 사업자등록번로 : 7777-77-7777<br>
					통신판매업신고 : 777-77-777<br> 주소 : 인천광역시 부평구 삼산로 154번길<br>
					대표번호 : 1555-5555<br> 대표이메일 : test@Test.com
				</p>
				<p>Copyright ©IamFreelancer. All Rights Reserved.</p>
			</div>
			<div class="callcenter">
				<p>
					1555-5555<br> <span>평일 : 10:00~17:00 ( 주말/공휴일 제외 )</span>
				</p>
				<a>App store</a> <a>Play store</a>
				<ul>
					<li><a>인스타그램</a></li>
					<li><a>페이스북</a></li>
					<li><a>트위터</a></li>
					<li><a>유튜브</a></li>
				</ul>
			</div>
			<div class="fmenu">
				<ul>
					<li><a>회사소개</a></li>
					<li><a>고객안내</a> <a>콘테스트개최</a> <a>이용방법</a>
						<a>평점후기</a></li>
					<li><a>전문가안내</a> <a>이용안내</a> <a>전문가가입</a>
					</li>
					<li><a>고객센터</a> <a>이용방법</a> <a>전문가가입</a>
					</li>
				</ul>
				<div>
					<a>이용약관</a> <a>개인정보취급방침</a>
				</div>

			</div>
		</div>
		<p>(주)회사명 통신판매중개자로서 통신판매의 당사자가 아니며 개별 판매자가 제공하는 서비스에 대한 이행, 계약사항
			등과 관련한의무와 책임은 거래당사자에게 있습니다.</p>
</footer>
</html>