<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<div layout:fragment="content">
	<div class="subpage marginb80">
	    <div class="container w1280 margin50auto ">
	        <div class="contents"> 
	            <ul class="tab_menu _2">
	                <li><a href="" class="active">진행</a></li>
	                <li><a href="">심사</a></li>
	                <li><a href="">종료</a></li>
	            </ul>
	            <ul class="tab_menu _3">
	                <li><a href="" class="active"><span>전체보기</span></a></li>
	                <li><a href=""><span>LOGO/BI</span></a></li>
	                <li><a href=""><span>NAMING/IDEA</span></a></li>
	                <li><a href=""><span>PRODUCT/<br>PACKGE</span></a></li>
	                <li><a href=""><span>PRINT</span></a></li>
	                <li><a href=""><span>WEB/APP</span></a></li>
	                <li><a href=""><span>OTHER</span></a></li>
	            </ul>          
	            <div class="result_contest">
	                <div class="htop">
	                    <p>전체보기</p>
	                    <div class="search">
	                        <div class="custom-select _2 width160">
	                            <lable hidden>셀렉트1</lable>
	                            <select>
	                                <option value="">업종 전체</option>
	                                <option value="">2</option>
	                                <option value="">3</option>
	                            </select>
	                        </div>
	                        <div class="search1">
	                            <lable hidden>검색</lable>
	                            <input class="search_txt widtp star_t" type="search" placeholder="검색해주세요.">
	                            <button class="search_btn">Search</button>
	                        </div>
	                    </div>                    
	                </div>
	                <div class="contest_sbox">
	                    <p class="contest_mbox_tit">(주)맛있는 치킨 <span>치킨 프랜차이즈 로고 Design</span></p>
	                    <div class="contest_mbox_info">
	                        <div class="img">콘테스트이미지</div>
	                        <div>
	                            <ul>
	                                <li>상금 : 5,000,000원</li>
	                                <li>2020.07.24 (D-10)</li>
	                                <li>150명 지원</li>
	                            </ul>
	                            <p class="info_txt">요청사항이 들어갈 부분입니다.(ex 치킨 그림이 그려져 있는 로고가 좋겠습니다.)</p>
	                            <div>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                            </div>
	                        </div>            
	                    </div>
	                    <div class="pin_point">
	                        <p class="pin green_b">상금100%</p>
	                        <p class="pin purple_b">플래티넘</p>
	                    </div> 
	                </div><!-- 1줄 -->
	                <div class="contest_sbox">
	                    <p class="contest_mbox_tit">(주)맛있는 치킨 <span>치킨 프랜차이즈 로고 Design</span></p>
	                    <div class="contest_mbox_info">
	                        <div class="img">콘테스트이미지</div>
	                        <div>
	                            <ul>
	                                <li>상금 : 5,000,000원</li>
	                                <li>2020.07.24 (D-10)</li>
	                                <li>150명 지원</li>
	                            </ul>
	                            <p class="info_txt">요청사항이 들어갈 부분입니다.(ex 치킨 그림이 그려져 있는 로고가 좋겠습니다.)</p>
	                            <div>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                            </div>
	                        </div>            
	                    </div>
	                    <div class="pin_point">
	                        <p class="pin green_b">상금100%</p>
	                        <p class="pin purple_b">플래티넘</p>
	                    </div> 
	                </div><!-- 1줄 -->
	                <div class="contest_sbox">
	                    <p class="contest_mbox_tit">(주)맛있는 치킨 <span>치킨 프랜차이즈 로고 Design</span></p>
	                    <div class="contest_mbox_info">
	                        <div class="img">콘테스트이미지</div>
	                        <div>
	                            <ul>
	                                <li>상금 : 5,000,000원</li>
	                                <li>2020.07.24 (D-10)</li>
	                                <li>150명 지원</li>
	                            </ul>
	                            <p class="info_txt">요청사항이 들어갈 부분입니다.(ex 치킨 그림이 그려져 있는 로고가 좋겠습니다.)</p>
	                            <div>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                                <p class="tag1">#태그</p>
	                            </div>
	                        </div>            
	                    </div>
	                    <div class="pin_point">
	                        <p class="pin green_b">상금100%</p>
	                        <p class="pin purple_b">플래티넘</p>
	                    </div> 
	                </div><!-- 1줄 -->
	                <div class="paging margint30">    
	                    <p class="first"><a href="">first</a></p>
	                    <p class="prev"><a href="">prev</a></p>
	                    <ul>
	                        <li><a href="" class="active">1</a></li>
	                        <li><a href="">2</a></li>
	                        <li><a href="">3</a></li>
	                        <li><a href="">4</a></li>
	                        <li><a href="">5</a></li>
	                    </ul>
	                    <p class="next"><a href="">next</a></p>
	                    <p class="end"><a href="">end</a></p>                
	                </div>
	            </div><!-- 콘테스트 끝 --> 
	        </div>
	   		<!-- 우측메뉴 fragment 삽입 -->
	        <div th:replace="fragments/right :: rightFragment"></div>
	    </div>
	</div>
</div>

<!-- contest_history.html 고유 script -->
<th:block layout:fragment="script">
	<script type="text/javascript">
		$(function(){
			$('header').addClass('sub').addClass('headerRadius');
		});
	</script> 
</th:block>

</html>